body {
    font-family: Inter;
}
.menu__item {
    list-style: none;
    display: flex;
    width: 185px;
    padding: 16px;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    text-decoration: none;
}
.menu__link {
    text-decoration: none;
    color: #000;
}
.menu__nav {
    margin-right: 24px;
    display: flex;
    height: 600px;
    padding: 0px 16px 40px 16px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.active {
    border-radius: 8px;
    background: #c06ecc;
}